<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dengpan20.somesample">

    <application
            android:name=".SampleApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MPChartActivity">
        </activity>
        <activity android:name=".activity.PageTurningActivity">
        </activity>
        <activity android:name=".activity.ConstraitLayoutActivity">
        </activity>
        <activity android:name=".activity.XPopupActivity">
        </activity>

        <service android:name=".db.DBService"/>

        <activity android:name=".activity.RoomActivity">
        </activity>
        <activity android:name=".activity.SencodFloorActivity">
        </activity>
        <activity android:name=".activity.MVVMLoginActivity">
        </activity>
        <activity android:name=".activity.ApparLayoutActivity">
        </activity>
        <activity android:name=".activity.ToolBarActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>